@import "https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap";
body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
*, *::before, *::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html {
  height: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

body {
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

img, picture, svg {
  max-width: 100%;
  display: block;
}

@media screen and (min-width: 1440px) {
  body {
    display: grid;
    place-items: center;
  }
}

@media screen and (min-width: 1440px) {
  #component {
    width: 610px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 25px;
  }
}

#result {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
  padding: 25px 50px 35px;
  color: hsl(241, 100%, 89%);
  border-radius: 0 0 25px 25px;
}
@media screen and (min-width: 1440px) {
  #result {
    border-radius: 25px;
  }
}
#result h1 {
  font-size: 1.1rem;
  font-weight: 700;
}
#result .score-circle {
  background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  width: 135px;
  margin: 20px auto;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
#result .score-circle .score-text {
  line-height: 1.2;
}
#result .score-circle .score {
  font-size: 3rem;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
}
#result h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
#result > p {
  line-height: 1.3;
}

#summary {
  padding: 25px;
  color: #7082b2;
}
#summary h2 {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
#summary .summary-item {
  border-radius: 10px;
  padding: 12px;
  margin: 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#summary .summary-item.reaction {
  background: hsla(0, 100%, 67%, 0.05);
}
#summary .summary-item.memory {
  background: hsla(39, 100%, 56%, 0.05);
}
#summary .summary-item.verbal {
  background: hsla(166, 100%, 37%, 0.05);
}
#summary .summary-item.visual {
  background: hsla(234, 85%, 45%, 0.05);
}
#summary .summary-item .summary-item-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
#summary .summary-item .summary-item-title.reaction {
  color: hsla(0, 100%, 67%, 0.75);
  font-weight: 700;
}
#summary .summary-item .summary-item-title.memory {
  color: hsla(39, 100%, 56%, 0.75);
  font-weight: 700;
}
#summary .summary-item .summary-item-title.verbal {
  color: hsla(166, 100%, 37%, 0.75);
  font-weight: 700;
}
#summary .summary-item .summary-item-title.visual {
  color: hsla(234, 85%, 45%, 0.75);
  font-weight: 700;
}
#summary .summary-item .summary-item-score {
  display: flex;
  align-items: center;
  justify-content: right;
}
#summary .summary-item .summary-item-score .score-of-100 {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}
#summary button {
  margin-top: 10px;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 1000px;
  background: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
}
#summary button:hover {
  cursor: pointer;
  background: linear-gradient(#643dff, #1b18e2);
}/*# sourceMappingURL=style.css.map */