@import "https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap"
	
$width-mq: 700px

// Colors (summary items)

$alpha-bg: 0.05
$alpha-text: 0.75

$clr-light-red-h: 0
$clr-light-red-s: 100%
$clr-light-red-l: 67%

$clr-orangey-yellow-h: 39
$clr-orangey-yellow-s: 100%
$clr-orangey-yellow-l: 56%

$clr-green-teal-h: 166
$clr-green-teal-s: 100%
$clr-green-teal-l: 37%

$clr-cobalt-blue-h: 234
$clr-cobalt-blue-s: 85%
$clr-cobalt-blue-l: 45%

$clr-light-red: hsl($clr-light-red-h, $clr-light-red-s, $clr-light-red-l)
$clr-orangey-yellow: hsl($clr-orangey-yellow-h, $clr-orangey-yellow-s, $clr-orangey-yellow-l)
$clr-green-teal: hsl($clr-green-teal-h, $clr-green-teal-s, $clr-green-teal-l)
$clr-cobalt-blue: hsl($clr-cobalt-blue-h, $clr-cobalt-blue-s, $clr-cobalt-blue-l)

$clr-light-red-transparent-bg: hsla($clr-light-red-h, $clr-light-red-s, $clr-light-red-l, $alpha-bg)
$clr-orangey-yellow-transparent-bg: hsla($clr-orangey-yellow-h, $clr-orangey-yellow-s, $clr-orangey-yellow-l, $alpha-bg)
$clr-green-teal-transparent-bg: hsla($clr-green-teal-h, $clr-green-teal-s, $clr-green-teal-l, $alpha-bg)
$clr-cobalt-blue-transparent-bg: hsla($clr-cobalt-blue-h, $clr-cobalt-blue-s, $clr-cobalt-blue-l, $alpha-bg)

$clr-light-red-transparent-text: hsla($clr-light-red-h, $clr-light-red-s, $clr-light-red-l, $alpha-text)
$clr-orangey-yellow-transparent-text: hsla($clr-orangey-yellow-h, $clr-orangey-yellow-s, $clr-orangey-yellow-l, $alpha-text)
$clr-green-teal-transparent-text: hsla($clr-green-teal-h, $clr-green-teal-s, $clr-green-teal-l, $alpha-text)
$clr-cobalt-blue-transparent-text: hsla($clr-cobalt-blue-h, $clr-cobalt-blue-s, $clr-cobalt-blue-l, $alpha-text)

// Colors (results background)

$clr-light-slate-blue: hsl(252, 100%, 67%)
$clr-light-royal-blue: hsl(241, 81%, 54%)

// Colors (results circle)

$clr-violet-blue: hsla(256, 72%, 46%, 1)
$clr-persian-blue: hsla(241, 72%, 46%, 0)

// Colors (neutral)

$clr-white: hsl(0, 0%, 100%)
$clr-pale-blue: hsl(221, 100%, 96%)
$clr-light-lavender: hsl(241, 100%, 89%)
$clr-dark-gray-blue: hsl(224, 30%, 27%)

// Fonts

$ff-hg: "Hanken Grotesk", sans-serif

$fs-p: 15px

$fw-normal: 500
$fw-bold: 700
$fw-extra-bold: 800