#result
	background: linear-gradient($clr-light-slate-blue, $clr-light-royal-blue)
	text-align: center
	padding: 25px 50px
	color: $clr-light-lavender
	h1
		font-size: 1.1rem
		font-weight: $fw-bold
	.score-circle
		background: linear-gradient($clr-violet-blue, $clr-persian-blue)
		width: 45%
		margin: 20px auto
		aspect-ratio: 1 / 1
		display: grid
		place-items: center
		border-radius: 50%
		.score-text
			line-height: 1.2
		.score
			font-size: 3rem
			font-weight: $fw-extra-bold
			color: $clr-white
	h2
		color: $clr-white
		font-weight: $fw-bold
		font-size: 1.4rem
		margin-bottom: 10px
	&> p
		line-height: 1.3