#component
	@media screen and (min-width: $width-mq)
		width: 610px
		height: 400px
		display: grid
		grid-template-columns: 1fr 1fr
		border-radius: 25px
		background: $clr-white
		box-shadow: 5px 5px 50px darken($clr-pale-blue, 7%)
	
#result
	background: linear-gradient($clr-light-slate-blue, $clr-light-royal-blue)
	text-align: center
	padding: 25px 50px 35px
	color: $clr-light-lavender
	border-radius: 0 0 25px 25px
	@media screen and (min-width: $width-mq)
		border-radius: 25px
	h1
		font-size: 1.1rem
		font-weight: $fw-bold
	.score-circle
		background: linear-gradient($clr-violet-blue, $clr-persian-blue)
		width: 135px
		margin: 20px auto
		aspect-ratio: 1 / 1
		display: grid
		place-items: center
		border-radius: 50%
		.score-text
			line-height: 1.2
		.score
			font-size: 3rem
			font-weight: $fw-extra-bold
			color: $clr-white
	h2
		color: $clr-white
		font-weight: $fw-bold
		font-size: 1.4rem
		margin-bottom: 10px
	&> p
		line-height: 1.3

#summary
	padding: 25px
	color: lighten($clr-dark-gray-blue, 30%)
	h2
		color: $clr-dark-gray-blue
		font-weight: $fw-bold
		font-size: 1.1rem
		margin-bottom: 20px
	.summary-item
		border-radius: 10px
		padding: 12px
		margin: 15px 0
		display: grid
		grid-template-columns: 1fr 1fr
		&.reaction
			background: $clr-light-red-transparent-bg
		&.memory
			background: $clr-orangey-yellow-transparent-bg
		&.verbal
			background: $clr-green-teal-transparent-bg
		&.visual
			background: $clr-cobalt-blue-transparent-bg
		.summary-item-title
			display: flex
			align-items: center
			gap: 10px
			&.reaction
				color: $clr-light-red-transparent-text
				font-weight: $fw-bold
			&.memory
				color: $clr-orangey-yellow-transparent-text
				font-weight: $fw-bold
			&.verbal
				color: $clr-green-teal-transparent-text
				font-weight: $fw-bold
			&.visual
				color: $clr-cobalt-blue-transparent-text
				font-weight: $fw-bold
		.summary-item-score
			display: flex
			align-items: center
			justify-content: right
			.score-of-100
				color: $clr-dark-gray-blue
				font-weight: $fw-bold
	button
		margin-top: 10px
		border: none
		width: 100%
		height: 50px
		border-radius: 1000px
		background: $clr-dark-gray-blue
		color: $clr-white
		&:hover
			cursor: pointer
			background: linear-gradient(darken($clr-light-slate-blue, 5%), darken($clr-light-royal-blue, 5%))